<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-6">

<h1><%= link_to "<span class=\"oi oi-home\" aria-hidden=\"true\"></span>".html_safe, posts_path, :title=>"Show most voted posts"%> Edit Post Detail</h1>


<%= form_with model: @post, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, :placeholder => "Title of Post", :class => "form-control" %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, :placeholder => "More info about Post", :class => "form-control", :rows => 4  %>
  </p>

  <p>
    <%= form.label :product %><br>

    <% if false %>

    <%= form.text_field :product, :placeholder => "Product Area", :class => "typeahead form-control", autocomplete: 'off' %>

    <%= form.select :product, options_for_select([["Darwin","Darwin"],["DeepNLP","DeepNLP"],["SparkPredict","SparkPredict"],["DeepArmor","DeepArmor"]], :selected => [:product, :product]), {}, {:class => "form-control"} %>

    <%= form.select :product, options_for_select(["Darwin","DeepNLP","SparkPredict","DeepArmor"], :selected=>:product), {}, {:class => "form-control"} %>    

    <% end %>

    <%= form.select :product, @products, {}, {:class => "form-control"} %>
  </p>   
 
  <p>
    <%= form.label :anonymous %><br>
    <%= form.check_box :anonymous, {:class => "checkbox form-control"} %>
  </p>

 <p>
    <%= form.select :status, @status, {}, {:class => "form-control"} %>
  </p>   

  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes, :placeholder => "Product Manager and/or Author add date, their name and enter Notes and/or Resolution about Post. e.g., 4/15 Keith, resolved in next release. or 4/15 Mark, does not apply.", :class => "form-control", :rows => 4  %>
  </p>

  <p>
    <%= form.submit "Save", :class=>"btn btn-outline-secondary " %>
  </p>
<% end %>

<p><%= link_to 'Return to Home', posts_path %></p>

</div>

<div class="col">

</div>

</div>

<% end %>