<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<% content_for :content do %>

<div class="row"> 

<div class="col">

</div>

<div class="col-12 col-md-6">

<h1><%= link_to "<span class=\"oi oi-home\" aria-hidden=\"true\"></span>".html_safe, posts_path, :title=>"Show most voted posts"%> Post Detail</h1>

<div class="card">
<div class="card-body m-3">

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Resolution Notes:</strong>
  <%= @post.notes %>
</p>

<p>
  <strong>Submitter:</strong>

<% if @post.anonymous %>

  Anonymous

<% else %>

  <%= @post.email.split("@").first %>

<% end %>

</p>

<p>
  <strong>Product:</strong>
  <%= @post.product %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @post.cached_votes_total %>
</p>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@post.created_at) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

</div>

<div class="card-footer text-muted">
<%= link_to "Return to Home", posts_path, :title=>"Show most voted posts"%>
</div>

</div>

</div>

<div class="col">

</div>

</div>

<% end %>