<% if false %>

Copyright (C) Mark Milligan - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Mark Milligan <markmilligan@me.com>, 2019

<% end %>

<!doctype html>
<html lang="en">

<head>
  <%= render "shared/header" %>
  <%= yield :head %>  
</head>

<body class="<%= params[:controller] %>">

<%= yield :top%>

<%= render 'shared/messages' %>

<%= yield :content%>

<%= yield :bottom%>

<%= render "shared/footer" %>

</body>
</html>
